<h2>Hozzárendelt jogosultságok</h2>

{% if available_credentials|length > 0 %}
  <p>
    <form action="{{ module }}/assignCredential" method="post">
      Elérhető jogosultságok:

      <select name="credential_id">
        {% for credential in available_credentials %}
          <option value="{{ credential.ID }}">{{ credential.NAME }}</option>
        {% endfor %}
      </select>

      <input type="hidden" name="{{ object_name }}_id" value="{{ object.id }}" />

      <input type="submit" value="Hozzáadás" class="button" />
    </form>
  </p>
{% endif %}

{% if credential_list|length > 0 %}
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th class="header">Jogosultság</th>
        <th class="header">Műveletek</th>
      </tr>
    </thead>
    <tbody>

    {% for user_credential in credential_list %}
      <tr>
        <td>{{ user_credential.credential.name }}</td>
        <td>
          <a href="{{ module }}/removeCredential/{{ object_name }}_id/{{ object.id }}/credential_id/{{ user_credential.credential.id }}">eltávolítás</a>
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
{% endif %}